{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <h2>Create user</h2>
    <div class="background-image"></div>
    <form class=".register" method="post" action=".">{% csrf_token %} <!--csrf token to stop csrf attacks-->
            {{ form.as_p }}
            {{ role.label }}
            {% autoescape on %}
              {{ role.label | linebreaks }}
            {% endautoescape %}
        <input class="acceptButton" type="submit" value="Register" />
    </form>
{% endblock %}
