{% extends 'base.html' %}

{% block title %}Subjects{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/subject.css" %}" />
<p>
List of subjects:
</p>
        {% for subject in subjects %}
            <button class="accordion">{{ subject.name }}</button>
            <div class="panel">
            <p>plan her</p>
            </div>
        {% endfor %}

<script type="text/javascript" src="{% static "js/plan.js" %}"></script>
{% endblock %}