{% extends 'base.html' %}
{% load subject_extras %}
{% block title %}Subjects{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/subject.css" %}" />
<p>
List of subjects:
</p>
    <!-- for each subject in users subjects -->
        {% for subject in subjects %}
            <!-- if the subject is in plansubject(aka it has a plan) -->
            {% if subject.name in plansubject %}
                <!-- make a subject button with a link to the subjects plan -->
                <button onclick="location.href='../plan/{{ plansubject|cut:subject.name }}';">{{ subject.name }}</button>
            {% else %}
                <!-- else, make an unclickable subject button(because there is no subject plan) -->
                <button>{{ subject.name }}</button>
            {% endif %}

        {% endfor %}

<script type="text/javascript" src="{% static "js/plan.js" %}"></script>
{% endblock %}
