{% extends 'base.html' %}
{% load subject_extras %}
{% block title %}Subjects{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/subject.css" %}" />
<p>
List of subjects:
</p>
        {% for subject in subjects %}
          <!--Hei-->
            {% if subject.name in plansubject %}
                <button onclick="location.href='../plan/{{ plansubject|cut:subject.name }}';">{{ subject.name }}</button>
            {% else %}
                <button>{{ subject.name }}</button>
            {% endif %}

        {% endfor %}

<script type="text/javascript" src="{% static "js/plan.js" %}"></script>
{% endblock %}
