{% load staticfiles %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <title>Users</title>
        <!-- loads the base css form the static folder-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/planStyle.css' %}" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <header>
          {% load static %}
          {% if user.customuser %}
          <nav class="navbar navbar-default">
            <div class="container-fluid">
          <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logoNoText.png' %}" alt="CheckPoint">
                  </a>
                </div>
                <div id="navbar1" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">About</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'editUser' %}"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                  </ul>
                </div>
                <!--/.nav-collapse -->
              </div>
              <!--/.container-fluid -->

            </div>
            </nav>
            {% else %}
            <nav class="navbar navbar-default">
              <div class="container-fluid">
            <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img src="{% static 'images/logoNoText.png' %}" alt="CheckPoint">
                    </a>
                  </div>
                  <div id="navbar1" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                  </div>
                  <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->

              </div>
              </nav>
          {% endif %}
    </header>

    <body>
      <section id="main">
        <!--other html snippets will be added in the block under-->
        {% block content %}
        {% endblock %}
      <script type="text/javascript"  src="{% static 'js/plan.js' %}"></script>
      <script type="text/javascript"  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      </section>
    </body>
</html>
