{% load staticfiles %}
<html>
    <head>
        <title>Users</title>
        <!-- loads the base css form the static folder-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/planStyle.css' %}" />
    </head>

    <header>
          <h1>Checkpoint</h1>
    </header>

    <body>
      <section id="main">
        <!--other html snippets will be added in the block under-->
        {% block content %}
        {% endblock %}
      <script type="text/javascript"  src="{% static 'js/plan.js' %}"></script>
      <script type="text/javascript"  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      </section>
    </body>
</html>
