{% extends 'base.html' %}
{% block title %}Plan{% endblock %}
{% block content %}
<h2>All plans in your subjects <button onclick="location.href='../create';">Create new plan</button></h2>
<!--form for creating a new plan-->
{% for key,value in plans.items %}
  <button class="accordion"> Fag {{ key }} </button>
  <div class="panel">
    {% for obj in value %}
      <button class="allPlansButton" onclick="location.href='../{{ obj.id }}';"> {{obj.title}}</button>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}
