{% extends 'base.html' %}
{% block title %}Plan{% endblock %}
{% block content %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/planStyle.css' %}" />
        <!--Checks if there is a userobject in user -->
        {% if user %}
            <h2>Plan for {{subject.name}}({{subject.code}})</h2>
            {% if weeks %}
                {% for week in weeks %}
                    <button class="accordion"> Uke {{ week.week_number }} </button>
                    {% if week.lectures.all %}
                        {% for lecture in week.lectures.all %}
                            <div class="panel">
                                <h3>Kommentar:</h3>
                                <p> {{ lecture.comment }} </p>
                                {% if objectives %}
                                    <h3>Læringsmål: </h3>
                                    {% for objective in lecture.objectives.all %}
                                        <p> {{ objective.learning_objective }} </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% else %}
                        <div class="panel">No lectures this week</div>
                    {% endif %}
                {% endfor %}
            {% else %}
                 <strong>No weeks in plan</strong>
            {% endif %}
        {% else %}
            <strong>You are not logged in</strong>
        {% endif %}
        <script type="text/javascript"  src="{% static 'js/plan.js' %}"></script>
{% endblock %}
