{% extends 'base.html' %}
{% block title %}Stats{% endblock %}
{% block content %}
<h2>Stats</h2>
{% load static %}
<script type="text/javascript"  src="{% static 'js/graphs.js' %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload=
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>
<!--form for creating a new plan-->
{% for key,value in drawData.items %}
  <div  id="chart{{forloop.counter0}}" style="width: 400px; height: 300px"> </div>
  <script>
  {% autoescape off %}
    drawChart({{value}},{{forloop.counter0}},'{{key}}');
  {% endautoescape %}
  </script>
{% endfor %}

{% endblock %}
