{% load staticfiles %}
<html>
    <head>
        <title>Users</title>
        <!-- loads the css form the static folder-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <header>
          <h1>Checkpoint</h1>
          <nav>
          </nav>
    </header>

    <body>
      <section id="main">
        <!--other html snippets will be added in the block under-->
        {% block content %}
        {% endblock %}
      </section>
      <footer>
      </footer>
    </body>
</html>
