{% extends 'base.html' %}
{% block title %}Assignment{% endblock %}
{% block content %}
        <!--Checks if there is a userobject in user -->
        {% if user.customuser and not decline %}
        <!--Test form-->
        <form method="post" action="./answer">{% csrf_token %}
            <h2>Assignment {{assignment.title}} for {{assignment.subject.name}}({{assignment.subject.code}})</h2>
            {% if multipleChoiseQuestions %}
                <strong>Multiple Choice Questions</strong>
                {% for mcq in multipleChoiseQuestions %}
                  <p><b>Question {{forloop.counter0}}:</b> {{mcq.question}}</p>
                  {% for choise in mcq.choises %}
                    <p>Choice {{forloop.counter0}}: {{choise}}<input type="radio" value="{{forloop.counter0}}" required name="MCQ{{mcq.pk}}"></p>
                  {% endfor %}
                {% endfor %}
            {% else %}
                 <div><b>No multiple choise questions</b></div>
            {% endif %}
            {% if trueFalseQuestions %}
                <strong>True/False Questions</strong>
                {% for tfq in trueFalseQuestions %}
                  <p><b>Question {{forloop.counter0}}: </b>{{tfq.question}}</p>
                  <p>
                    <label>Yes: <input type="radio" value="True" required name="TFQ{{tfq.pk}}"></label>
                    <label>No:  <input type="radio" value="False" name="TFQ{{tfq.pk}}"></label>
                  </p>
                {% endfor %}
            {% else %}
                 <div><b>No True/false questions</b></div>
            {% endif %}
            {% if oneWordQuestions %}
                <div><b>One Word Questions</b></div>
                {% for owq in oneWordQuestions %}
                  <p><b>Question {{forloop.counter0}}: </b>{{owq.question}}</p>
                  <p><label>Answer: <input type="text" required name="OWQ{{owq.pk}}"></label></p>
                {% endfor %}
            {% else %}
                 <div><b>No one word questions</b></div>
            {% endif %}

            <input class="acceptButton" type="submit" value="Submit answers" />
        </form>
        {% else %}
            <strong>You are not a student, or you have used up your tries</strong>
        {% endif %}

{% endblock %}
